.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.service {
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}
.service:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.service-head {
    background: #001b3f;
    padding: 2rem;
    border: 1px solid #4db5ff42;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.service-head h3 {
    color: #4DB5FF;
    font-size: 1.2rem;
    text-align: center;
}
.service-list {
    padding: 2rem;
}
.service-list  li{
   display: flex;
   gap: 2rem;
   margin-bottom: .8rem;
}
.service-list-icon{
   margin-top: .5rem;
   font-size: 1.3rem;
}
.service-list p {
    font-size: 1rem;
}

/*============= Medeia Query ==============*/
@media screen and (max-width: 1124px) {
    .services-container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .service {
        height: auto;
    }
}
@media screen and (max-width: 600px) {
    .services-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .service {
        height: auto;
    }
}
